extends ./layouts/main.pug

block styles
    link(rel="stylesheet", href="css/styles.css")

block content
    .center
        h1 Ali
    hr
    .center
        if names.length > 0
            each person in names 
                p #{person.name}
        else 
            h1 No Name Valid